@import url('https://fonts.cdnfonts.com/css/clash-display');
 

*,html{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Clash Display', sans-serif;
    
}

body{
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
    background-color: #232323;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: aliceblue; */
    align-items: center;
    height: 96px;
    padding : 0px 64px;
}

.navigasi{
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 48px;
   
}

.menu a{
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #999999;
}

.menu a:hover{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #ffffff;
}

.btn-resume{
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    width: 120px;
    height: 48px;
    background: #F1A2B7;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-resume:hover{
    background-color: #C48495;
    color: #ffffff;
}

.hero{
    padding : 40px 64px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}

.desc-hero{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #F1A2B7;
}

.home-work{
    padding : 40px 64px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.container-work{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.card-work{
    display: flex;
    flex-direction: column;
    padding: 0px;
    cursor: pointer;
    transition: .5s ease;
}

.img{
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 411px;
    height: 480px;
}
.image{
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    filter: rgb(214, 214, 214); /* IE6-9 */
    -webkit-filter: grayscale(1) opacity(64%); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1) opacity(64%); /* Microsoft Edge and Firefox 35+ */
}
.img:hover{
    /* box-shadow: 0 0 0 5px #F5BECD;
    transition: .5s ease; */
}
.image:hover{
    -webkit-filter: grayscale(0);
    filter: none;
    transform: scale(1.1);
}

.card-text{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.card-title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 4px;
}

.card-desc{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.7px;
    color: #999999;
}

.scroll {
    white-space: nowrap;
    margin: 0;
    background: #F1A2B7;
    overflow: hidden;
    padding: 16px 0px;

  }
  
  .scroll div {
    display: flex;
    gap: 8px;  
  }
  
  .scroll p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #232323;
    padding: 0;
    margin: 0;
  }
  
  .RightToLeft {
    animation: RightToLeft 36s infinite linear;
  }
  
  @keyframes  RightToLeft {
    /* 0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    } */
    from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(-50%);
      }
  }

  .experience-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 40px 64px;
    margin: 0;
  }

  .experience-title1{
    display: flex;
    flex-direction: column;
    width: 560px;
    gap: 16px;
    margin: 0;
    padding: 0;
  }

  .exp-title{
    font-style: normal;
    font-weight: 600;
    font-size: 84px;
    line-height: 92px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

.experience-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 0;
    width: 712px;
}

.experience{
    display: flex;
    flex-direction: column;
    padding: 48px;
    gap: 16px;
    background: #2C2C2C;
    margin: 0;
    cursor: pointer;
}

.experience:hover{
    box-shadow: 0px 8px 40px #1B1B1B;
    
}

.experience-title{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 16px;
}
.experience-title p{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.experience-title .title-desc{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #999999;
    margin: 0;
    padding: 0;
}


.title-exp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    margin: 0;
}

.exp-desc{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #999999;
    margin: 0;
    padding: 0;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
    gap: 10px;
    background: #232323;
}

.copyright{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
    margin: 0;
    padding: 0;

}

.icon{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 16px;
    margin: 0;
    cursor: pointer;
}

.icon svg:hover path{
    fill: #F1A2B7;
}

@media only screen and (max-width: 760px) {
body {
      background-color: #232323;
      padding: 0;
      margin: 0;
      width: 100%;
    }

.header{
    padding: 16px;
    margin: 0;
    height: auto;
    width: 100%;
}
.logo{
    margin: 0;
    padding: 0;
}

.navigasi{
    display: none;
}

.hero{
    display: flex;
    padding: 16px 16px;
    margin: 0;
    gap: 8px;
    width: 100%;

}

.hero svg{
   
    height:auto;
    width: 100%;
}
.desc-hero{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #F1A2B7
}

.container-work{
    display: flex;
    flex-direction: column;
}
.home-work{
    padding: 16px;
    margin: 0;
    width: 100%;
    gap: 24px;
}
.scroll{
    padding: 8px 0;
    width: 100%;
}

.experience-container{
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.scroll p {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #232323;
    padding: 0;
    margin: 0;
  }

.container-work{
    width: 100%;
    gap: 16px;
    
}

.card-work{
    width: 100%;
    margin: 0;
    padding: 0;
}

.img{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}
.image{
    object-fit: cover;
    height: 340px;
    width: 100%;

    transform: scale(1);
    filter: rgb(214, 214, 214); /* IE6-9 */
    -webkit-filter: grayscale(1) opacity(64%); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1) opacity(64%);
}

.image:hover{
    -webkit-filter: grayscale(0);
    filter: none;
    transform: scale(1.1);
}

.experience-container{
    display: none;
}

.footer-container{
    display: none;
}
  

}

